@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --breakpoint-5xl: 200rem;

  --color-primary: #ffd640;
  --color-primary-50: #fffbeb;
  --color-primary-100: #fff5c6;
  --color-primary-200: #ffe988;
  --color-primary-300: #ffd640;
  --color-primary-400: #ffc520;
  --color-primary-500: #f9a407;
  --color-primary-600: #dd7b02;
  --color-primary-700: #b75606;
  --color-primary-800: #94420c;
  --color-primary-900: #7a370d;
  --color-primary-950: #461b02;
  --color-secondary: #3a75bd;
  --color-secondary-50: #f3f6fc;
  --color-secondary-100: #e6edf8;
  --color-secondary-200: #c7d8f0;
  --color-secondary-300: #97b8e2;
  --color-secondary-400: #5f93d1;
  --color-secondary-500: #3a75bd;
  --color-secondary-600: #2a5b9f;
  --color-secondary-700: #234a81;
  --color-secondary-800: #203f6c;
  --color-secondary-900: #20375a;
  --color-secondary-950: #15233c;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: var(--font-inter), Helvetica, sans-serif;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    font-size: 100%;
  }

  html {
    @apply 5xl:text-[112.5%];
  }
}

/* The styles below are responsible for bi-directional hover effect connection between MapPin and Region list item. Due to Tailwind v4 limitations (no Safelist configuration available), this rules had to be hardcoded for every pair. */

@layer experienceSectionMap {
  .group:has(div[data-region="Italy"]:hover) li[data-region="Italy"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="Italy"]:hover) div[data-region="Italy"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="Scandinavia"]:hover) li[data-region="Scandinavia"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="Scandinavia"]:hover) div[data-region="Scandinavia"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="Poland"]:hover) li[data-region="Poland"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="Poland"]:hover) div[data-region="Poland"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="Spain"]:hover) li[data-region="Spain"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="Spain"]:hover) div[data-region="Spain"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="Kazakhstan"]:hover) li[data-region="Kazakhstan"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="Kazakhstan"]:hover) div[data-region="Kazakhstan"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="China"]:hover) li[data-region="China"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="China"]:hover) div[data-region="China"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="India"]:hover) li[data-region="India"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="India"]:hover) div[data-region="India"] {
    @apply -translate-y-2;
  }
  .group:has(div[data-region="Turkey"]:hover) li[data-region="Turkey"] {
    @apply text-primary underline;
  }
  .group:has(li[data-region="Turkey"]:hover) div[data-region="Turkey"] {
    @apply -translate-y-2;
  }
}

@layer selection {
  ::selection {
    @apply text-slate-950 bg-primary;
  }
}

@layer scrollbar {
  /* Firefox */
  * {
    scrollbar-width: thin;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1rem;
  }

  *::-webkit-scrollbar-track {
    border-radius: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }
}
